/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}
body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 60px;
    line-height: 60px; /* Vertically center the text there */
    background-color: #f5f5f5;
}
.navbar {
    /*border: 1px solid red;*/
    margin-bottom: 1rem;
}
/*.nav-item.active {
    background-color: #eee;
}*/
.navbar-light .navbar-nav .active > .nav-link {
    color: #000;
}

/* Custom container */
.container {
    margin: 0 auto;
    max-width: 1440px;
}

/* menu for work with procurements */
/*.ui.mini.compact.button, .ui.edit.list {*/
td, .procurement {
    position: relative;
}
.form-inline {
    position: absolute;
    top: 5px;
    right: 5px;
    display: none;
}
.procurement:hover .form-inline {
    display: block;
    opacity: 0.9;
}


.custom-file-control:lang(en)::before{
    content:"Обзор"
}
.custom-file-control:lang(en)::after{
    content:"Выбрать файл..."
}

